* {
  margin: 0;
  padding: 0;
  /* font-family: 'Crete Round'; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/crete-round-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/crete-round-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header {
  width: 100%;
  height: 80px;
  background: #fafafa;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

#header-logo {
  height: 30px;
  width: auto;
  margin-left: 2.5vw;
}

#header-right {
  margin-right: 2.5vw;
}

#header-right a {
  color: #000;
  text-decoration: none;
}

#landing-section {
  z-index: 1;
  background-color: #fafafa;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headline, #short-description, #form-1 {
  z-index: 1;

}

#headline {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vh;
  font-weight: 600;
  text-align: center;
}

#short-description {
  font-size: 2vh;
  margin: 15px;
  text-align: center;
}


#form-1 {
  display: flex;
}

#form-1-email {
  font-size: 2vh;
  border: none;
  outline: none;
  /* margin-left: 1vw; */

  border-radius: 6vw 0 0 6vw;
  border: 2px solid #3cff4c;
  padding-left: 1.5vw;
  background-color: #ffffff;
}


/* submit button */
#form-1-submit {
  font-size: 2vh;
  background-color: #3cff4c;
  border-radius: 0 6vw 6vw 0;
  border: 2px solid #3cff4c;
  padding: .75vw;
  font-family: 'Crete Round';
  font-weight: 500;
  cursor: pointer;
  color: #014c0e;
  

}


.lines {
  /* z-index: 0; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  height: 90vh; 
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  background: rgb(0, 0, 0, 0.05);
  overflow: hidden; }
  .line::after {
    content: '';
    display: block;
    position: absolute;
    width: 15vh;
    height: 100%;
    left: -50%;
    top: 0;
    background: linear-gradient(to right, rgba(194, 0, 0, 0) 0%, #3cff4c 75%, #3cff4c 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
  .line:nth-child(1) {
    margin-top: -2%; }
    .line:nth-child(1)::after {
      animation-delay: 2s; }
  .line:nth-child(3) {
    margin-top: 2%; }
    .line:nth-child(3)::after {
      animation-delay: 2.5s; }

@keyframes drop {
  0% {
    left: -50%; }
  100% {
    left: 110%; } }





#description-section {
  background-color: #3cff4c;
  height: 400px;
}
#diagram-section {
  height: 80vh;
  background-color: chartreuse;
}
#prompt-section {
  height: 400px;
  background-color: darkolivegreen;
}

footer {
  width: 100%;
  height: 50px;
  background-color: forestgreen;
}