* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/crete-round-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/crete-round-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header {
  width: 100%;
  height: 80px;
  background: #fafafa;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

#header-logo {
  height: 30px;
  width: auto;
  margin-left: 2.5vw;
}

#header-right {
  margin-right: 2.5vw;
}

#header-right a {
  color: #000;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#landing-section {
  z-index: 1;
  background-color: #fafafa;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headline, #short-description, #form-1 {
  z-index: 1;

}

#headline {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vh;
  font-weight: 600;
  text-align: center;
}

#short-description {
  font-size: 2vh;
  margin: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#form-1 {
  display: flex;
}

#form-1-email {
  font-size: 2vh;
  border: none;
  outline: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 6vw 0 0 6vw;
  border: 2px solid #3cff4c;
  padding-left: 1.5vw;
  background-color: #ffffff;
}


/* submit button */
#form-1-submit {
  font-size: 2vh;
  background-color: #3cff4c;
  border-radius: 0 6vw 6vw 0;
  border: 2px solid #3cff4c;
  padding: .75vw;
  font-family: 'Crete Round';
  font-weight: 500;
  cursor: pointer;
  color: #014c0e;
}

input[type="submit"] {
  -webkit-appearance: none;
}

#gap-section {
  background-color: #333333;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#gap-section h1 {
  font-size: 2.5vh;
  margin: 4.5vh 10vw 1.5vh 10vw;
  font-family: 'Crete Round';
  font-weight: 400;

}

#gap-section p {
  font-size: 2.25vh;
  margin: 1.5vh 10vw 4.5vh 10vw;
  font-family: 'Crete Round';
  max-width: 960px;
}

#diagram-section {
  height: 100vh;
  background-color: #86ff86;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#diagram-section h1 {
  font-family: 'Crete Round';
  font-size: 5vh;
  font-weight: 400;
  /* padding-bottom: 5vh; */
  max-width: 960px;
}

#diagram-section p {
  font-size: 2vh;
  margin: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 960px;

}


#query-image {
  max-width: 40vh;
  height: auto;
}

#diagram-bolt {
  width: 10vh;
  padding: 2.5vh;

}

#action-list {
  font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-size: 4vh;
  list-style: none;
  letter-spacing: -1.5;
  line-height: 3.5vh;
}

#action-list li:nth-child(1) {
  color: #002200;
}
#action-list li:nth-child(2) {
  color: #004400;
}
#action-list li:nth-child(3) {
  color: #006600;
}
#action-list li:nth-child(4) {
  color: #008800;
}
#action-list li:nth-child(5) {
  color: #00bb00;
}
#action-list li:nth-child(6) {
  color: #00dd00;
}


#prompt-section {
  height: 400px;
  background-color: darkolivegreen;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-logo {
  height: 30px;
  width: auto;
  margin-left: 2.5vw;
}


#footer-right {
  margin-right: 2.5vw;
}

#footer-right a {
  color: #fafafa;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}